.card {
    margin-top:100px
}
.product_image{
    width: 200px;
}
.product_name {
    width: 120px;
}
.input_wrap {
    margin-top: 10px;
}
.add_form {
    width:50%;
    transform: translateX(50%)
}
.submit_button {
    margin:16px 25% 0 0 ;
}
.image_product_form {
 width: 100px;
 height: 100px;
 background-size: contain; ;
}
.button_primary {
    width: 64px;
}
/* .button_primary:last-child {
    margin-top: 10px;
} */
.pagination{
   align-content: center;
}
.curentpage {
    cursor: pointer;
}
.button_primary_oder{
    margin-top: 10px;
}